{% extends 'weibovis/base.html' %}

{% load static %}

{% block body_block %}
    <div id="hmmap_chart"></div>
{% endblock %}

{% block result_block %}
	<p>以丰台地区微博统计数据为基础，叠加百度地图，生成丰台地区微博热力图。
        蓝色表示活跃度较低，属于较冷的区域；黄色区域表示中等活跃度；
        红色表示较高活跃度，属于较热地区；白色为非常活跃的地区。</p>
{% endblock %}

{% block script_block %}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UjDN5L4WOmeoTAMIZG73MU1F"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script type="text/javascript" src="{% static 'Scripts/hmmap.js' %}"></script>
{% endblock %}