<!DCOTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>微博数据分析系统</title>
		<link href="{% static 'Css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'Css/index.css' %}" rel="stylesheet" type="text/css" />
		<script src="{% static 'Scripts/dist/jquery.min.js' %}"></script>
		<script src="{% static 'Scripts/ecom/esl/esl.js' %}"></script>
		<script src="{% static 'Scripts/dist/echarts-all.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
			   <h1>微博数据分析系统
			      <small>以丰台地区为例</small>
			   </h1>
			</div>
			<div class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			  	<a class="navbar-brand" href="#">微博数据分析</a>
			  </div>
		      <div>
			 	<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">热点分析<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/map/">活跃度地图</a>
							</li>
							<li>
								<a href="#">Hotmap分析</a>
							</li>
							<li>
								<a href="#">核密度分析</a>
							</li>
							<li>
								<a href="/hm/map">热力图</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">社群模式分析<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">工作日VS非工作日</a>
							</li>
							<li>
								<a href="#">工作时间VS非工作时间</a>
							</li>
							<li>
								<a href="#">工作日-工作时间</a>
							</li>
							<li>
								<a href="#">工作日-非工作时间</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li>
						<a href="/about/">关于</a>
					</li>
				</ul>
		      </div>
		    </div>
			<div class="row-fluid content-pic">
				<div class="col-xs-12">
					<div>
						{% block body_block %}{% endblock %}
					</div>
				</div>
				<div class="col-xs-12 bg-info comment">
					<h3>分析结果</h3>
					{% block result_block %}{% endblock %}
				</div>
			</div>
			<div>
				<hr>
				<pre class="text-center">版权所有：北京市测绘设计研究院 技术支持：北京市测绘设计研究院 ICP 备案序号：京 ICP 备 13034775 号<br />地址：北京市海淀区羊坊店路15号 邮编：100038 电话：(010) 63985887 传真：(010)63963144 E-Mail：bism@bism.cn</pre>
			</div>
		</div>
		{% block script_block %}{% endblock %}
	</body>
</html>