<!DCOTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>微博信息可视化</title>
		<script src="{% static 'Scripts/ecom/esl/esl.js' %}"></script>
		<script src="{% static 'Scripts/dist/jquery.min.js' %}"></script>
		<script src="{% static 'Scripts/dist/echarts-all.js' %}"></script>
		<link href="{% static 'Css/index.css' %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="main">
			<div id="bar_chart"></div>
			<br />
			<br />
		</div>
        <script type="text/javascript" src="{% static 'Scripts/charts.js' %}"></script>
	</body>
</html>