{% extends 'weibovis/base-line.html' %}

{% load static %}

{% block body_block %}
    <div id="seven_line_chart"></div>
{% endblock %}

{% block result_block %}
	<p>从时间上看，为统计结果相对平滑，以2小时为单位，将一天划分为12个单位，
		统计出每个单位内微博发布量，能够找出一天中活跃的高峰时段。</p>
	<p>无论工作日或者周末，每天中活跃量的最低点均出现在凌晨5点左右，最高点均出现在晚上23点左右，
		从凌晨5点开始，随着时间的推移，逐渐活跃，7点到9点的增长比较明显，之后进入一个平台期，
		并延伸至下午17点，随后活跃度再次攀升，并在晚上23点时达到最高点，随后快速下降到最低点。</p>
{% endblock %}

{% block body_block_1 %}
    <div id="two_line_chart"></div>
{% endblock %}

{% block result_block_1 %}
	<p>从日期上进行看，可以划分为工作日和休息日（一般为周末，某些月份包含节假日，统计入休息日），
		以此考察社群在不同日期内的行动模式。</p>
	<p>将工作日和非工作日的数据进行平均，得到两条曲线，曲线走势与单日基本相同，这与常识是相符的，
		并进一步反映了社群生活模式的相对固定。</p>
{% endblock %}

{% block script_block %}
	<script type="text/javascript" src="{% static 'Scripts/line.js' %}"></script>
{% endblock %}